.App {
  text-align: center;
  background: black;
  border-radius: 20px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: transform 1.4s;

  
}
.cards img{
  border-radius: 20px;
  
}
.cards img:hover{
  cursor: pointer;
  transform: scale(1.08);
}

input{
  width: 36%;
  margin: 23px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size:medium;
}